Getting and Knowing Data

In [6]:
import pandas as pd
import numpy as np

In [4]:
##Step 1: Import Dataset

In [7]:
df = pd.read_csv("test.csv",sep="\t")

In [8]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

## DataSet Overview

In [36]:
df.shape

(4622, 5)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [41]:
#print all column name
list(df.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [42]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [44]:
df.describe(include="all")

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

In [45]:
#loc and iloc

In [46]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [61]:
# select all rows with multiple column conditions
df.loc[(df.quantity==2) & (df.item_name =="Steak Burrito"), ['order_id','choice_description','item_price']]

      order_id                                 choice_description item_price
148         67  [Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...    $17.98
353        152  [Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...    $22.16
534        223  [Fresh Tomato Salsa, [Sour Cream, Lettuce, Che...    $18.50
549        229  [Fresh Tomato (Mild), [Lettuce, Guacamole, Ric...    $22.16
638        264   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]    $18.50
1262       513  [[Tomatillo-Green Chili Salsa (Medium), Tomati...    $17.98
1753       708  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...    $23.50
2380       947  [Fresh Tomato Salsa (Mild), [Pinto Beans, Chee...    $17.98
2954      1175  [[Tomatillo-Green Chili Salsa (Medium), Roaste...    $22.96
3134      1250  [Tomatillo Red Chili Salsa, [Cheese, Black Bea...    $18.50
3616      1449  [Fresh Tomato Salsa (Mild), [Black Beans, Rice...    $17.98
3861      1548  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $18.50
3970      1591  [Fresh Tomato Salsa, [Lettuce, Sour Cream, Che...    $18.50
4310      1719  [Tomatillo Red Chili Salsa, [Rice, Black Beans...    $18.50

In [68]:
df.iloc[10:22]
#type(df.iloc[10])

,order_id,quantity,item_name,choice_description,item_price
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99

In [72]:
x = df.iloc[3:5,:-1]
y = df.iloc[3:5,-1]
#print(y)

In [74]:
#Data Manipulation

In [75]:
df.item_price.dtype

dtype('O')

In [76]:
#Apply()

In [82]:
df.item_price = df.item_price.apply(lambda x:float(x.replace('$','')))

In [83]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [89]:
df["total_price"] = df["quantity"] * df["item_price"]
df.head(5)

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

##How much was the revenue for the feriod in the dataset?

In [101]:
revenue=df["total_price"].sum()
print(revenue)

39237.02

Which was most odered item?

In [102]:
#Groupby

In [109]:
c = df.groupby("item_name")["quantity"].sum()
c.sort_values(ascending = False)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

In [113]:
#unique value
df.item_name.value_counts().count()

50

In [116]:
df.item_name.nunique()

50